<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Swipe Up to Close</string>
				<key>sublabel</key>
				<string>Swipe up app cards to close them</string>
				<key>key</key>
				<string>enableKill</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Round Card Corners</string>
				<key>sublabel</key>
				<string>Bug: Also enables iPhone X Dock</string>
				<key>key</key>
				<string>roundSwitcher</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips, VitaTaf, PINPAL © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

		</array>
		<key>title</key>
		<string>App Switcher</string>
	</dict>
</plist>
