<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<!--- Just realised disabling this doesnt work rn
			 <dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Original Screenshot</string>
				<key>sublabel</key>
				<string>Disable Volume Up + Lock Button to Screenshot</string>
				<key>key</key>
				<string>remapScreen</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict> -->

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Press Home for Siri</string>
				<key>sublabel</key>
				<string>Activate Siri by holding the Home Button</string>
				<key>key</key>
				<string>siriHome</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips, VitaTaf, PINPAL © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

		</array>
		<key>title</key>
		<string>Hardware Buttons</string>
	</dict>
</plist>
