<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
		 <dict>
			 <key>cell</key>
			 <string>PSGroupCell</string>
			 <key>footerText</key>
			 <string>Top Padding</string>
			 <key>footerAlignment</key>
			 <integer>0</integer>
		 </dict>

		 <dict>
			 <key>cell</key>
			 <string>PSTableCell</string>
			 <key>cellClass</key>
			 <string>CSPImageCell</string>
			 <key>height</key>
			 <string>180</string>
			 <key>static</key>
			 <false/>
			 <key>key</key>
			 <string>selectPhotos</string>
			 <key>storePath</key>
			 <string>/Library/PreferenceBundles/HomeGesture.bundle/banners/cc_vert.png</string>
			 <key>defaults</key>
			 <string>com.vitataf.homegesture</string>
			 <key>defaultsPath</key>
			 <string>/Library/PreferenceBundles/HomeGesture.bundle</string>
		 </dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>label</key>
				<string>Vertical Padding in CC</string>
				<key>isContinuous</key>
				<true/>
				<key>key</key>
				<string>vertical</string>
				<key>leftImage</key>
				<string/>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>0</real>
				<key>rightImage</key>
				<string/>
				<key>showValue</key>
				<false/>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Top Padding (Landscape Mode)</string>
				<key>footerAlignment</key>
				<integer>0</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>185</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/cc_landscape.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>isContinuous</key>
				<true/>
				<key>key</key>
				<string>verticalLandscape</string>
				<key>leftImage</key>
				<string/>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>0</real>
				<key>rightImage</key>
				<string/>
				<key>showValue</key>
				<false/>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips, VitaTaf, PINPAL © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

		</array>
		<key>title</key>
		<string>Control Centre</string>
	</dict>
</plist>
