<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>55</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/torch_camera.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Hide Torch Button</string>
				<key>key</key>
				<string>hideTorch</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Hide Camera Button</string>
				<key>key</key>
				<string>hideCamera</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>55</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/ls_dots.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Hide Page Dots</string>
				<key>sublabel</key>
				<string>Hide page dots from the LockScreen</string>
				<key>key</key>
				<string>dots</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>55</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/swipe_up.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Hide "Swipe Up to Unlock"</string>
				<key>sublabel</key>
				<string>Hide the text from the LockScreen.</string>
				<key>key</key>
				<string>unlockHint</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips, VitaTaf, PINPAL © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>78</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/cc_hint.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Hide Control Center Hint</string>
				<key>sublabel</key>
				<string>Hide small top right bar from the LockScreen</string>
				<key>key</key>
				<string>notificationHint</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

		</array>
		<key>title</key>
		<string>Lock Screen</string>
	</dict>
</plist>
