<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>100</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banner.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>statusBar</string>
				<key>label</key>
				<string>Status Bar</string>
				<key>icon</key>
				<string>icons/statusBar</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>controlCentre</string>
				<key>label</key>
				<string>Control Centre</string>
				<key>icon</key>
				<string>icons/controlCentre</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>buttonMapping</string>
				<key>label</key>
				<string>Hardware Buttons</string>
				<key>icon</key>
				<string>icons/buttons</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>appSwitcher</string>
				<key>label</key>
				<string>App Switcher</string>
				<key>icon</key>
				<string>icons/appSwitcher</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>lockScreen</string>
				<key>label</key>
				<string>Lock Screen</string>
				<key>icon</key>
				<string>icons/lockScreen</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>homeBar</string>
				<key>label</key>
				<string>Home Bar</string>
				<key>icon</key>
				<string>icons/homeBar</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>blackList</string>
				<key>label</key>
				<string>Blacklist Applications</string>
				<key>icon</key>
				<string>icons/blacklist</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips, VitaTaf, PINPAL © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>Support</string>
				<key>label</key>
				<string>Support, Donations &amp; Contact</string>
				<key>key</key>
				<string>support</string>
				<key>icon</key>
				<string>icons/donate.png</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPBackupListViewController</string>
				<key>isController</key>
				<true/>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/defaults.plist</string>
				<key>label</key>
				<string>Backup &amp; Restore</string>
				<key>icon</key>
				<string>icons/backupRestore.png</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPChangeLogController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>ChangeLog</string>
				<key>icon</key>
				<string>icons/changes.png</string>
				<key>changes</key>
				<array>
					<dict>
						<key>0.0.1</key>
						<array>
							<string>initial release</string>
						</array>
					</dict>
				</array>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>cellClass</key>
				<string>CSPVersionCell</string>
				<key>bundleID</key>
				<string>com.vitataf.homegesture</string>
				<key>label</key>
				<string>Version:</string>
				<key>icon</key>
				<string>icons/currentVersion.png</string>
			</dict>

		</array>
		<key>title</key>
		<string>HomeGesture</string>
	</dict>
</plist>
