<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>FOLLOWING SETTINGS FOR NORMAL STATUS BAR ONLY:</string>
				<key>footerAlignment</key>
				<integer>0</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>100</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/x_bar.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>iPhone X Style Status Bar</string>
				<key>key</key>
				<string>statusBarX</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips, VitaTaf, PINPAL © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>100</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/carrier.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Hide Status Bar Carrier</string>
				<key>key</key>
				<string>hidecarrier</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>100</string>
				<key>static</key>
				<false/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle/banners/breadcrumb.png</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Disable BreadCrumbs</string>
				<key>key</key>
				<string>enableBread</string>
				<key>PostNotification</key>
				<string>com.vitataf.homegesture.prefschanged</string>
				<key>defaults</key>
				<string>com.vitataf.homegesture</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/HomeGesture.bundle</string>
			</dict>

		</array>
		<key>title</key>
		<string>Status Bar</string>
	</dict>
</plist>
