<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
  		<key>cell</key>
  		<string>PSGroupCell</string>
  		<key>headerCellClass</key>
  		<string>HBImageTableCell</string>
  		<key>height</key>
  		<integer>150</integer>
  		<key>icon</key>
  		<string>banner.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>footerText</key>
			<string>Disable the gestures, but keep the UI and button layout.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>disableGestures</string>
			<key>label</key>
			<string>Disable Gestures</string>
		</dict>
		 <dict>
 			<key>cell</key>
 			<string>PSGroupCell</string>
 			<key>label</key>
 			<string>STATUS BAR</string>
			<key>footerText</key>
			<string>Disable Breadcrumbs to disable "◀Back to Search" on the status bar, for example. This setting effects all applications</string>
 		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>statusBarX</string>
			<key>label</key>
			<string>iPhone X Style Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>hidecarrier</string>
			<key>label</key>
			<string>Hide Status Bar Carrier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>enableBread</string>
			<key>label</key>
			<string>Breadcrumbs</string>
		</dict>
		<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>APP SWITCHER</string>
		<key>footerText</key>
		<string>Enable "Swipe up to close" to allow the ability to swipe cards up in the app switcher to close the app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>enableKill</string>
			<key>label</key>
			<string>Swipe up to close</string>
		</dict>
		<dict>
		 <key>cell</key>
		 <string>PSGroupCell</string>
		 <key>label</key>
		 <string>HINTS</string>
		 <key>footerText</key>
 		<string>Turn off to disable the "Swipe up to unlock" prompt.</string>
	 </dict>
	 <dict>
		 <key>cell</key>
		 <string>PSSwitchCell</string>
		 <key>default</key>
		 <false/>
		 <key>defaults</key>
		 <string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
		 <key>PostNotification</key>
		 <string>com.midnight.homegesture.plist/post</string>
		 <key>key</key>
		 <string>unlockHint</string>
		 <key>label</key>
		 <string>Unlock Hints</string>
	 </dict>
	 <dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string></string>
		<key>footerText</key>
	 <string>Turn off to disable the small bar on the top right of the cover sheet (lockscreen and notification center).</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>default</key>
		<false/>
		<key>defaults</key>
		<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
		<key>PostNotification</key>
		<string>com.midnight.homegesture.plist/post</string>
		<key>key</key>
		<string>notificationHint</string>
		<key>label</key>
		<string>Control Center Hints</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LOCKSCREEN</string>
			<key>footerText</key>
 			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>hideTorch</string>
			<key>label</key>
			<string>Hide Torch Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>hideCamera</string>
			<key>label</key>
			<string>Hide Camera Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>hideDots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HOMEBAR</string>
			<key>footerText</key>
			<string>Color the HomeBar to anything you want! Applies to lockscreen only.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>hideBar</string>
			<key>label</key>
			<string>HomeBar (Homescreen)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>hideBarCover</string>
			<key>label</key>
			<string>HomeBar (LockScreen)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>enablePillColor</string>
			<key>label</key>
			<string>Custom HomeBar Color</string>
		</dict>
		<dict>
			<key>action</key>
			<string>selectColor</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Select Color</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSGroupCell</string>
 			<key>label</key>
 			<string>BLACKLIST</string>
 			<key>footerText</key>
 	 		<string>Disables the gestures when the keyboard is present.</string>
 		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>stopKeyboard</string>
			<key>label</key>
			<string>Disable Gestures With Keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Disable the gestures in selected applications. Only applies when device is in landscape mode.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>/var/mobile/Library/Preferences/com.midnight.homegesture.plist</string>
			<key>PostNotification</key>
			<string>com.midnight.homegesture.plist/post</string>
			<key>key</key>
			<string>enableBlacklist</string>
			<key>label</key>
			<string>Blacklist Apps</string>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Select Blacklisted Apps</string>
        <key>action</key>
        <string>selectExcludeApps</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Select Apps to be Fully Disabled</string>
        <key>action</key>
        <string>selectBlackList</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By:</string>
		</dict>
		<dict>
    	<key>cellClass</key>
    	<string>HBLinkTableCell</string>
    	<key>icon</key>
    	<string>vita.png</string>
    	<key>label</key>
	    <string>VitaTaf</string>
    	<key>url</key>
    	<string>https://www.reddit.com/user/VitaTaf/</string>
		</dict>
		<dict>
    	<key>cellClass</key>
    	<string>HBTwitterCell</string>
    	<key>label</key>
    	<string>MidnightChips</string>
    	<key>user</key>
    	<string>midnightchip</string>
		</dict>
		<dict>
    	<key>cellClass</key>
    	<string>HBTwitterCell</string>
    	<key>label</key>
    	<string>PINPAL</string>
    	<key>user</key>
    	<string>TPinpal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Contributors:</string>
		</dict>
		<dict>
    	<key>cellClass</key>
    	<string>HBTwitterCell</string>
    	<key>label</key>
    	<string>Simalary: No Pocket</string>
    	<key>user</key>
    	<string>simalary_ch</string>
		</dict>
	</array>
	<key>title</key>
	<string>HomeGesture</string>
</dict>
</plist>
